.menuBar {
    background-color: rgba(128, 128, 128, 0.363) !important;
    border: 0;
    border-radius: 15px;
    padding: 5px 20px;
}


// MENU ITEMS
.p-ripple {
    background-color: rgba(128, 128, 128, 0.568);
    padding: 10px;
    margin-right: 20px;
}

.p-menuitem-text {
    color: white !important;
}

app-form-search {
    margin-right: 10px;
}


