.p-inputtext {
    background-color: rgba(255, 255, 255, 0.582);
    border: 0;
}

.az {
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.582);
    border: 0;
    padding: 15px 10px;

    p {
        margin: 0;
    }
}

